name: Move files from 'root/web' to root

on:
  push:
    branches:
      - master
permissions:
  contents: write
jobs:
  move-files:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Move files to root
        run: |
          shopt -s extglob
          mv web/* ./

      - name: Remove 'web' folder
        run: |
          rm -rf web
      - name: Commit and push changes
        run: |
          git config --local user.email "rafael2425@gmail.com"
          git config --local user.name "jquera"
          git add .
          git commit -m "Move files from 'root/web' to root"
          git push
