name: Move files from 'root/web' to root

on:
  push:
    branches:
      - master

jobs:
  move-files:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Move files to root
        run: |
          mv root/web/* .
          mv root/web/.* .

      - name: Remove 'root/web' folder
        run: |
          rm -rf root/web
      - name: Commit and push changes
        run: |
          git config --local user.email "rafael2425@gmail.com"
          git config --local user.name "jquera"
          git add .
          git commit -m "Move files from 'root/web' to root"
          git push
